[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
celery = {version = "*", extras = ["gevent", "elasticsearch"]}
kubernetes = "*"
records = "*"
falcon = "*"
falcon-auth = "*"
"psycopg2-binary" = "*"
logme = "*"
flower = "*"
pywin32 = {version="*", sys_platform = "== 'win32'"}
"delegator.py" = "*"
docker = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
